body {
  min-height: 700px;
}

.text-align-center {
  text-align: center;
}

.navbar-fixed-top {
	margin-bottom: 0px;
}
.navbar-default {
	background-color: #ffffff;
	border-color: #38a315;
}
.navbar-default .navbar-brand
{
	color: #FFF;
}
.navbar-default .navbar-brand:hover
{
	color: #337ab7;
}
.navbar-default .navbar-nav>li>a
{
	color: #FFF;
}
.navbar-default .navbar-nav>li>a:hover
{
	color: #faffbd;
}
.navbar-default .navbar-nav>.active>a:hover{
	background-color: #faffbd;
}