{% extends "base.html" %}

{% block content %}
	 <div class="row">
	 	<div class="col-sm-6 col-sm-offset-3">
	 		<h2 class="text-align-center">
	 			<strong>Nuestra Historia</strong>
	 		</h2>
	 			<p class="text-align-center">  Es una historia muy Larga</p>
	 			<p class="text-align-center">BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA</p>
	 			<p class="text-align-center">BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA</p>
	 			<p class="text-align-center">BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA</p>
	 			<p class="text-align-center">BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA</p>
	 			<p class="text-align-center">BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA</p>
	 	</div>
	 </div>
{% endblock %}