{% extends "system_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content_general %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
           
            <div class="row"> 
            <div class="col-xs-6 col-xs-offset-3 centered">
                    
            </div>
        </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Asesores
                            </div>
                        <!-- /.panel-heading 
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>-->
                        <div class="panel-body">
                            <div id="container"></div>
                        </div>

                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                                        <!-- /.panel -->
                    </div>
                    <!-- /.panel -->
                <!-- /.col-lg-8 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Categorias de Productos
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="chart-container-circular">
                                
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <!-- /.panel -->                
                        
                      <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
               
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
{% endblock %}
{% block script_general %}
<script src="{% static 'system/js/general.js' %}">
</script>
{% endblock %}