{% extends "system_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content_general %}
<div class="content-wrapper">
    <div class="container-fluid">
         {% include "system_gif_cabecera.html" %}  
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Dashboard General</li>
      </ol> 
      <div class="row">
      <div class="col-md-4 offset-md-4">
       <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-search"></i> Consulte</div>
        <div class="card-body">
          <select id="selectAnio" data-style="btn-info" required="required" class="form-control" onchange="myFunction()">
                    <option value="0">Selecionar Año</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    </select>
        </div>
      </div>
    </div>
    </div>
      <div class="card mb-3" style="display: none" id="id-container-agencias">
        <div class="card-header" >
          <i class="fa fa-pie-chart"></i> Agencias</div>
        <div class="card-body">
            <div id="container-agencias"></div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>

      <div class="card mb-3" style="display: none" id="id-container-barras-productos">
        <div class="card-header">
          <i class="fa fa-bar-chart"></i> Productos</div>
        <div class="card-body">
            <div id="container-barras-productos">
                            </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
      <div class="card mb-3" style="display: none" id="id-container-lines-general">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Asesores</div>
        <div class="card-body">
      <div id="container-lines-general"></div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
 </div>
</div>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Banco D-Miro 2018</small>
        </div>
      </div>
    </footer>
    </div>
  </div>
{% endblock %}
{% block script_general %}
<script src="{% static 'system/js/general.js' %}">
</script>
{% endblock %}
