{% extends "system_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content_style_maps %}
  <style>
    .google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    }
    .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    }
  </style>
{% endblock %}
{% block content_detalles %}
<div id="page-wrapper">
{% include "system_gif_cabecera.html" %}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 
                            Map
                </div>
                <div class="panel-body">
                    <div id="mapa" style="width:400px ;height:300px"> 

                    </div>             
                </div>
            </div>
        </div>
        <div class="col-lg-6"> 
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>
                            Imagenes
                </div>
                <div class="panel-body">
                    <div id="chart-container-img" style="width:400px ;height:300px">
                        <center>
                            <img id="miimg" style="width:350px; height: 250px" class="img-rounded">
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="col-xs-6 col-xs-offset-3 centered">
            <div class="panel panel-default">
                <div id="selecionar-agencia" class="panel-heading">
                            Seleccione la Agencia
                </div>
                <div class="panel-body">
                    <div id="agencia-seleccionada"></div>
                    <select id="selectAnio" data-style="btn-info" required="required" class="form-control" onchange="myFunction()">
                    <option value="0">Selecionar Año</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Asesores
                </div>
                <div class="panel-body">
                    <div id="chart-container-lines"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Categorias de Productos
                </div>
                <div class="panel-body">
                    <div id="chart-container-circular">  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-8">
                            <div id="morris-bar-chart">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content_script_maps %}
    <script src="{% static 'system/js/map-dmiro.js' %}">
    </script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT3_475CV9pDTRjoXvxOE3CGMparmDYlM&libraries=places&callback=initMap" async defer></script>
 {% endblock %}