{% load static %}
  <!-- Estilos Personalizados-->
  <link href="{% static 'system/dist/css/estilos_banner.css' %}" rel="stylesheet">
  <link href="{% static 'system/dist/css/estilos.css' %}" rel="stylesheet">
  <!-- Bootstrap core CSS-->
  <link href="{% static 'system/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- MetisMenu CSS -->
  <link href="{% static 'system/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
   <!-- Custom styles for this template-->
  <link href="{% static 'system/dist/css/sb-admin-2.css' %}" rel="stylesheet">
  <link href="{% static 'system/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
   <!-- Morris Charts CSS -->
  <link href="{% static 'system/vendor/morrisjs/morris.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="{% static 'system/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">