{% extends "system_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content_style_maps %}
  <style>
    .google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    }
    .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    }
</style>
{% endblock %}
{% block content_detalles %}
<div class="content-wrapper">
    <div class="container-fluid">
         {% include "system_gif_cabecera.html" %}  
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Dashboard Detallado</li>
      </ol>

     <div class="row">
      <div class="col-lg-8">
        <div class="card mb-2">
        <div class="card-header">
          <i class="fa fa-map-marker"></i> Mapas de Agencias</div>
        <div class="card-body">
        <div id="mapa" style="width:640px ;height:250px"> </div>  
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
        </div>
         <div class="col-lg-4">
        <div class="card mb-2">
        <div class="card-header">
          <i class="fa fa-file-image-o"></i> Foto de la Agencia</div>
        <div class="card-body">
        <div id="chart-container-img" style="width:300px ;height:250px">
                  <div id="agencia-seleccionada"></div>
                        <center>
                            <img id="miimg"  class="img-responsive">
                        </center>
                    </div>

        </div>
        <div class="card-footer small text-muted"></div>
      </div>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header" id="selecionar-agencia"><i class="fa fa-search"> Consultar</i></div>
        <div class="card-body">
                    
          <select id="selectAnio" data-style="btn-info" required="required" class="form-control" onchange="myFunction()">
                    <option value="0">Selecionar Año</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    </select>
        </div>
        </div>
      </div>
  </div>

    <div class="row">
      <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Asesores</div>
        <div class="card-body">
             <div id="chart-container-lines"></div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
  </div>
  <div class="col-lg-6">
        <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-pie-chart"></i> Categorias de Productos</div>
        <div class="card-body">
        <div id="chart-container-circular">  
                    </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
  </div>
</div>
 </div>
</div>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Banco D-Miro 2018</small>
        </div>
      </div>
    </footer>
    </div>
  </div>
{% endblock %}
{% block content_script_maps %}
    <script src="{% static 'system/js/map-dmiro.js' %}">
    </script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT3_475CV9pDTRjoXvxOE3CGMparmDYlM&libraries=places&callback=initMap" async defer></script>
 {% endblock %}